# Dependencies
node_modules/

# Production Build Output
dist/
build/

# Logs & Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tempmediaStorage/
lighthouse-report*/

# Environment
.env
.env.local
.env.*.local

# OS Metadata
.DS_Store
Thumbs.db
